.hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    margin-top: -100px;
}

.hero-content {
    flex: 1;
    max-width: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.get-started-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.hero-image {
    flex: 1;
    max-width: 50%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}


.hero-image:hover img {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        margin-top: 10px;
    }

    .hero-content,
    .hero-image {
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}