
.my-custom-container {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  
  .my-custom-heading {
    margin-bottom: 20px;
  }
  
  .my-custom-carousel {
    width: 800px; 
    margin: 0 auto; 
  }
  
  .my-custom-carousel img {
    max-height: 400px;
    width: auto;
    margin: auto;
  }
  